@font-face {
  src: url('../../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf');
  font-family: 'Caveat';
}

#paper {
  width: auto;
  height: auto;
  position: relative;
  margin: 20px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  min-height: 12em;
  transition: box-shadow .3s;
}

#paper:hover {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#paper::before {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255,0,0,0.6);
}

#pattern {
  height: 100%;
  min-height: 12em;
  background-image: repeating-linear-gradient(white 0px, white 24px, rgba(85, 194, 194, 0.692) 25px);
}

span, span * {
  background: transparent;
}

#content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: 'Caveat', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  background: inherit;
}

.icon-btn {
  border: 1px solid tomato;
  border-radius: 50%;
  background: transparent;
  color: tomato;
  margin-left: 5px;
  padding: 3px;
}

.icon-btn:hover {
  border: 1px solid transparent;
  font-weight: bold;
  background: tomato;
  color: white;
  cursor: pointer;
}