* {
  background-color: rgb(233, 185, 130);
}

.App {
  text-align: center;
}

.App-logo {
  height: 5em;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  text-shadow: -5px 5px 0px #EFB566, -10px 10px 0px #DC8A31, -15px 15px 0px #000000;
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
