html, .App {
  background-color: rgb(233, 185, 130);
}

.App {
  text-align: center;
}

.App-logo {
  height: 5em;
  pointer-events: none;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  text-shadow: -5px 5px 0px #EFB566, -10px 10px 0px #DC8A31, -15px 15px 0px #000000;
}

.App-link {
  color: #61dafb;
}

.btn {
  transition: box-shadow font-weight .3s;
}
.btn:hover:enabled {
  box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.25),
  -1px -1px 5px 0 rgba(247, 189, 114, 0.3);
}
.btn:hover:disabled {
  cursor: not-allowed !important;
}

.bg-off-white {
  background: rgba(184, 164, 138, 0.774) !important;
  color: white !important;
}
.bg-off-white:hover:enabled {
  background: rgba(255, 188, 101, 0.774) !important;
  font-weight: bolder !important;
}

.bg-transparent {
  backdrop-filter: unset;
  background: transparent !important;
}

.bg-cool {
  background: #b9a68b71;
  min-height: 90vh;
  width: auto;
  transition: box-shadow .3s, background .3s;
}
.bg-cool:hover {
  background: #c5a06c9a;
  box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.25), -1px -1px 5px 0 rgba(247, 189, 114, 0.3);
}